body {
    background-color: rgb(39,48,54);
    color: #ecf0f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #34495e;
    padding: 10px;
    text-align: right;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

nav {
    width: 20%;
    background-color: #2c3e50;
    padding: 10px;
    border-radius: 10px;
}

section {
    width: 75%;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
}

nav a {
    display: block;
    color: rgb(247, 248, 248);
    padding: 12px 16px;
    text-decoration: none;
    font-size: 18px;
    margin: 10px 0;
    box-sizing: border-box;
}

nav a:hover {
    background-color: #3e5770;
    border-radius: 5px;
}
.dropdown {
    width: 100%;
    padding: 10px;
    background-color: #3e5770;
    color: #ecf0f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-sizing: border-box;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e5770;
    min-width: 160px;
    z-index: 1;
    border-radius: 5px;
    box-sizing: border-box;
}

.dropdown-content a {
    color: #ecf0f1;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    box-sizing: border-box;
}

.dropdown-content a:hover {
    background-color: #506978;
    border-radius: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ecf0f1;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #3e5770;
    color: #ecf0f1;
}

.add-files {
    display: block;
    background-color: #3e5770;
    color: #ecf0f1;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.add-files:hover {
    background-color: #506978;
}
.new-row-input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}